<!-- light-blue - v3.1.0 - 2014-12-06 -->

<!DOCTYPE html>
<html>
<head>
    <title>Health Hackathon</title>

        <link href="css/hackathon-application.css" rel="stylesheet">
        <link href="css/hackathon.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>

<body class="background-gray">
<div>
    <nav style="top:0px; position:relative; height:50px; background-color:#EAEAEA;">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">@</span>
          <input type="text" class="form-control" placeholder="find your hospital" aria-describedby="sizing-addon1">
        </div>
    </nav>   
</div>
<!--<div id="holder"></div>
<div id="time">

    <span id="h"></span>:<span id="m"></span>:<span id="s"></span> <span id="ampm"></span> · <span id="mnth"></span>/<span id="d"></span>
</div> -->
<div class="wrap-left text-center">
        <span class="text-center font-greeting-light color-kalesalad-purple">antibiotics 
            <span>can kill you, or heal you..</span>&nbsp;</span>
</div>
      
<!--<div class="text-center">
        <span class="font-greeting-avenir color-kalesalad-purple">meet your enemy</span> 
</div> -->       
<div class="content container">
    <!--<div class="wrap-left">-->
        <!-- 10547 infections, 356 hospitals-->
        <div class="row">
           <ul class="row thumbnails">
            <li class="col-sm-12">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h4 class="text-center font-greeting-avenir color-kalesalad-purple">meet your enemy. they mean business</h4>                                       
                    </div>
                    <!--<img src="images/cd-spore.gif" alt="">-->
                </div>
             </li>
        </ul>
        <div class="row">
            <!--<div class="col-md-12 col-md-offset-1">-->
                <!--<section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-font"></i>
                            Same with descriptions
                        </h4>
                    </header>
                    <div class="body">-->
                    <ul class="row thumbnails">
                       <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="images/cdiff.gif" alt="">
                                    <div class="caption">
                                        <h4 color-kalesalad-purple>My name is Clostridium_Difficile</h4>

                                        <p class="font-greeting-avenir2 color-kalesalad-purple">i look lovely</p>

                                    </div>
                                    
                                </div>
                            </li>
                        <li class="col-sm-6">
                        <div class="caption">
                                        <h4 color-kalesalad-purple>Statistics</h4>

                                        <p class="font-greeting-avenir2 color-kalesalad-purple">Nearly half a million Americans suffered from Clostridium difficile infections in a single year</p>
                                        <p class="font-greeting-avenir2 color-kalesalad-purple">More than 100,000 of these infections developed among residents of U.S. nursing homes</p>
                                        <p class="font-greeting-avenir2">1 out of every 9 patients aged 65 or older with a healthcare-associated C. difficile infection died within 30 days of diagnosis</p>
                                        
                                    </div>
                                <div class="thumbnail">
                                    <img src="images/cdifficile.png" alt="">
                                </div>
                                <!--<div class="thumbnail">
                                    <img src="images/staphl-causes.jpg" alt="">
                                </div>-->
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="images/staphyl1.jpg" alt="">
                                    <div class="caption">
                                        <h4 color-kalesalad-purple>Hello, I am Staphylococcus aureus</h4>

                                        <p class="font-greeting-avenir2 color-kalesalad-purple">i am Methicillin-Resistant</p>
                                        <p class="font-greeting-avenir2 warningorange">Type 2 Diabetes May Be Caused by Exposure to me.</p>
                                    </div>
                                    
                                </div>
                            </li>
                        
                    <!--<li class="col-sm-2">
                                <div class="thumbnail">
                                    
                                    <div class="caption">
                                        <h4 class="font-greeting-avenir2">but i am deadly</h4>                                       
                                    </div>
                                    <img src="images/cd-spore.gif" alt="">
                                </div>
                            </li>-->
                            
                            
                    </ul>
                        <ul class="row thumbnails">
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="images/hospital-clipart.jpg" alt="my name is hospital. Nice to meet you.">
                                    <div class="caption">
                                        <h4>my name is</h4>
                                        <p class="font-greeting-avenir2 color-barchart-red">Adventist Medical Center, Hanford",Adventist Medical Center-Selma</p>
                                       <p class="font-greeting-avenir2">I am located in Fresno, California.. </p>
                                       <p><strong>.. Nice To meet you..</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    
                                    <div class="caption">
                                        <h4>My name is Clostridium_Difficile</h4>
                                        <p><strong>I am deadly!!</p>
                                    </div>
                                    <img src="images/cd-spore.gif" alt="">
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="img/10.jpg" alt="">
                                    <div class="caption">
                                        <h4>Thumbnail label</h4>
                                        <p><strong>You will never know exactly how something will go until you try it.</strong> You can think three hundred times and still have no precise result... </p>
                                        <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="img/12.jpg" alt="">
                                    <div class="caption">
                                        <h4>Thumbnail label</h4>
                                        <p>You don’t
                                            need to think about HOW it can turn out. All you have to do is to GO and DO IT. It
                                            should be super-fast and easy. You don’t
                                            need to think about.</p>
                                        <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="img/11.jpg" alt="">
                                    <div class="caption">
                                        <h4>Thumbnail label</h4>
                                        <p>No hesitation. You ask me: “What to do with
                                            fearful thoughts preventing me from doing that?” The answer is to ignore them, because
                                            they can’t</p>
                                        <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <!--</div>
                </section>-->
            <!--</div>-->
        </div>
        
    <!--</div>  wrap-left-->
</div>
<!-- common libraries. required for every page-->
<script src="lib/jquery/jquery-2.0.3.min.js"></script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
<script src="lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="lib/widgster/widgster.js"></script>
<script src="js/raphael.js"></script>
<script src="js/raphael-clock.js"></script>

<!-- common application js -->
<script src="js/light-blue/js/app.js"></script>
<!-- common templates -->
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-default <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-default <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

    <!-- page specific scripts -->
        <!-- page libs -->
        <script src="lib/jquery.slimscroll.js"></script>
        <script src="lib/sparkline/jquery.sparkline.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone/backbone.localStorage-min.js"></script>

        <script src="lib/nvd3/lib/d3.v3.min.js"></script>
        <script src="js/nvd3/nv.d3.min.js"></script>

        <script src="lib/nvd3/stream_layers.js"></script>
        
        <!-- page application js -->
        <script src="js/hackathon.js"></script>

        <!-- page template -->
        <script type="text/template" id="message-template">
            <div class="sender pull-left">
                <div class="icon">
                    <img src="img/2.jpg" class="img-circle" alt="">
                </div>
                <div class="time">
                    just now
                </div>
            </div>
            <div class="chat-message-body">
                <span class="arrow"></span>
                <div class="sender"><a href="#">Tikhon Laninga</a></div>
                <div class="text">
                    <%- text %>
                </div>
            </div>
        </script>

</body>
</html>